@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-text font-sans antialiased;
}

* {
  @apply border-border;
}

.input {
  @apply border p-2 rounded w-full mb-2;
}

@keyframes waveFloat {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(4px);
  }
}