@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
   @apply bg-surface text-text-primary font-sans antialiased;
}

* {
  @apply border-border;
}

.input {
  @apply border p-2 rounded w-full mb-2;
}

.footer-bg {
  background: linear-gradient(135deg, #233C7B 0%, #224C7C 7.14%, #205B7C 14.29%, #1E6A7C 21.43%, #1B797A 28.57%, #188879 35.71%, #149676 42.86%, #0EA572 50%, #0E916C 57.14%, #0D7E65 64.29%, #0D6C5F 71.43%, #0C5958 78.57%, #0C4850 85.71%, #0B3648 92.86%, #0A2540 100%);]
  position: relative;
  overflow: hidden;
}

@keyframes waveFloat {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(4px);
  }
}