@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-surface text-text-primary font-sans antialiased;
}

* {
  @apply border-border;
}

.input {
  @apply border p-2 rounded w-full mb-2;
}

.footer-bg {
  background: linear-gradient(
    135deg,
    #233c7b 0%,
    #224c7c 7.14%,
    #205b7c 14.29%,
    #1e6a7c 21.43%,
    #1b797a 28.57%,
    #188879 35.71%,
    #149676 42.86%,
    #0ea572 50%,
    #0e916c 57.14%,
    #0d7e65 64.29%,
    #0d6c5f 71.43%,
    #0c5958 78.57%,
    #0c4850 85.71%,
    #0b3648 92.86%,
    #0a2540 100%
  );
  position: relative;
  overflow: hidden;
}

@keyframes waveFloat {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(4px);
  }
}
